/* written by Yesrat Rahman */
html {
  background-color: #6C7989;
}

* {
  scrollbar-color: #202324 #454a4d;
}

.markdown-body img {
    max-width: 100%;
    width: 100px;
    box-sizing: initial;
    background-color: var(--color-bg-primary);
} 
#full-stack-engineer{
  text-align: center; 
} 
img {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

img[alt="profile"] {
  width: 45%;
}

#user-content-wallet{
    max-width: 100%;
    width: 220px;
    height: 220px;
    margin-left: 200px;
} 

.left,
.right {
  width: 50%;
  float: left;
}

#gif {
 display: block;
 margin-left: auto;
 margin-right: auto;
 width: 600px;
 padding-top: 15px;
 height: 300px;
}
