/* written by Yesrat Rahman */
html {
  background-color: #6C7989;
}

* {
  scrollbar-color: #202324 #454a4d;
}

#full-stack-engineer{
  text-align: center; 
} 

img[alt="first"] {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
img[alt="second"] {
  max-width: 100%;
    width: 220px;
    height: 260px;
    margin-left: 200px;
}

img[alt="third"] {
  max-width: 100%;
    width: 220px;
    height: 260px;
    margin-left: 200px;
}

img[alt="profile"] {
  max-width: 100%;
    width: 220px;
    height: 260px;
    margin-left: 200px;
}


#user-content-wallet{
    max-width: 100%;
    width: 220px;
    height: 220px;
    margin-left: 200px;
} 

.left,
.right {
  width: 50%;
  float: left;
}

#gif {
 display: block;
 margin-left: auto;
 margin-right: auto;
 width: 600px;
 padding-top: 15px;
 height: 300px;
}
