/* written by Yesrat Rahman */
html {
  background-color: #6C7989;
}

* {
  scrollbar-color: #202324 #454a4d;
}


#full-stack-engineer{
  text-align: center; 
} 

img {
    max-width: 100%;
    width: 220px;
    height: 220px;
    margin-left: 200px;
}

#user-content-wallet{
    max-width: 100%;
    width: 220px;
    height: 220px;
    margin-left: 200px;
} 

